<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .block {
            width: 350px;
            height: 200px;
        }
        .btn {
            width: 35px;
            height: 35px;
        }
        .like {
            color: red;
        }
    </style>
</head>
<body>
    <div id="app">
        <div v-for="article in data" :key="article.id" class="article">
            <h2 class="article__title">{{ article.title }}</h2>
            <p class="article__text">{{ article.text }}</p>
            <button class="btn" @click="likeToggle = !likeToggle":class="{like: likeToggle}">like</button>
        </div>

        <input type="text" @keyup.space="send()">
        <button @click="send()">Отправить</button>
        <h2>link elem</h2>
        <a :href="linkHref">my new link</a>
        <img :src="imgPhoto" alt="photo">

        <h2>list</h2>
        <ul>
            <li v-for="item in listItems" :key="item.id">{{item}}</li>
        </ul>
        <input type="text" v-model="newList" @keyup.enter="addItem">

        <h2>Конструктор</h2>
        <input type="text" v-model="blockWidth">
        <input type="text" v-model="blockColor">
        <div class="block" :style="change">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, optio.
        </div>
        <h2>{{ modelData }}</h2>
        <input type="text" v-model.lazy="modelData">
        <button @click="headingText" class="heading__button">click heading</button>


        <h2>Калькулятор</h2>
        <input type="text" v-model.number="firstNumber">
        <input type="text" v-model.number="secondNumber">
        =
        {{ result }}
        <div>
            <button @click="plus">+</button>
            <button @click="minus">-</button>
            <button @click="mult">*</button>
            <button @click="div">/</button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                likeToggle: false,
                data: [
                    {
                        title: 'title text',
                        text: 'description text info element',
                    },
                    {
                        title: 'title text',
                        text: 'description text info element',
                    }
                ],
            
                listItems: [1, 2, 4],
                newList:'',
                blockWidth: 100,
                blockColor: '#ccc',
                firstNumber: 0,
                secondNumber: 0,
                result: 0,
                modelData: '',
                linkHref: 'product.html',
                imgPhoto: 'photo.jpg',
                // styleBlock: {
                //     backgroundColor: 'green',
                //     color: 'red',
                // }
            },
            methods: {
                addItem() {
                    this.listItems.push(this.newList)
                },
                // changeBlock() {
                //     return {
                //         width: this.blockWidth,
                //         heigth: this.blockWidth,
                //         backgroundColor: this.blockColor,
                //     }
                // }
                headingText() {
                    if (this.modelData === '') {
                        this.modelData = 'Заголовок для блока'
                    } 
                    // else {
                        
                    // }
                },
                send() {
                    console.log('Отправили данные внутри input');
                },
                plus() {
                    this.result = this.firstNumber + this.secondNumber;
                },
                minus() {
                    this.result = this.firstNumber - this.secondNumber;
                },
                mult() {
                    this.result = this.firstNumber * this.secondNumber;
                },
                div() {
                    this.result = this.firstNumber / this.secondNumber;
                },
            },
            computed: {
                change() {
                    return {
                        width: `${this.blockWidth}px`,
                        heigth: `${this.blockWidth}px`,
                        backgroundColor: this.blockColor,
                    }
                },
            },

        })
    </script>
</body>
</html>